body {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    background-color: #68838b;
}

.container {
    display: grid;
    grid-template-rows: 200px 80px repeat(5, 60px);
    grid-template-columns: repeat(4, 80px);
    gap: 8px;
    padding: 7px;
    justify-content: center;
    /* height: 100vh; */
    background-color: #dad2ba;
    border-radius: 4px;
    box-shadow: 0 10px 3px 3px #7b7368, 0 0 3px 0px #7b7368 inset;
    background-image: linear-gradient(180deg, #dad2ba, #dad2ba, #c7c0a7)
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 11px;
    box-shadow: 0 1px 2px 2px #9b9388;
    color: #f0fff0;
    font-size: 24px;
    font-weight: 500;
    border-radius: 4px;
    /* text-shadow: 1; */
}

.button[type="CE"],
.button[type="C"],
.button[type="equals"] {
    background-color: #e28f83;
    background-image: linear-gradient(150deg, #e28f83, #e28f83, #f29f93);
    font-weight: 800;

}

.button[type="number"],
.button[type="decimal"] {
    background-color: #321f2f;
    background-image: linear-gradient(150deg, #321f2f, #321f2f, #424f4f)
}

.button[type="operator"] {
    background-color: #cdc0b0;
    background-image: linear-gradient(150deg, #cdc0b0, #cdc0b0, #ddd0c0);
    font-size: 30px;
    font-weight: 800;

}

#logo-box {
    grid-column: 1 / span 4;
    grid-row: 1;
    background-color: #8e9775;
    font-size: 26px;
    padding: 16px 20px;
    font-family: 'Squada One', cursive;
    /* font-weight: 100; */
    color: #fff5ee;
    box-shadow: 0 0 2px 1px #6e7755 inset;
    border-radius: 1px;
}

#screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1 / span 4;
    grid-row: 2;
    background-color: #303030;
    border-radius: 5px;
    box-shadow: 0 0 4px 1px #707070 inset;
    padding: 10px 30px;
    text-align: right;
    font-family: 'Unica One', cursive;
    color: lightpink;
    text-shadow: 0 0 4px red, 0 0 4px red, 0 0 20px red;
}

#screen-top {
    font-size: 20px;
}

#screen-bottom {
    font-size: 28px;
    bottom: 0;
}

#switch {
    grid-column: 1 / span 2;
    grid-row: 3;
    /* border: 1px solid #8e9775; */
    margin: 10px 12px 9px 12px;
    box-shadow: 0 1px 3px 2px #9b9388 inset;
    border-radius: 3px;
}
